@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme {
  --color-*: initial;
  --color-black: oklch(33.6% 0.042 269.3);
  --color-cyan: oklch(79.1% 0.148 172.5);
  --color-purple: oklch(65.3% 0.226 302.7);
  --color-yellow: oklch(83.3% 0.17 90.6);
  --color-cream: oklch(97.9% 0.03 106.9);
  --color-red: oklch(67.4% 0.173 15.7);
  --color-white: oklch(100% 0 0);

  --font-sans: "Lexend";

  --shadow-custom: 0px 3px 10px rgba(224, 213, 181, 0.5);
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 140rem;
}

:root {
  --color-black-transparent: oklch(33.6% 0.042 269.3 / 0);
}

/* html {
  cursor: url('cursor.ico'), default;
} */

.font-bold-shadow::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin
* {
  margin: 0;
} */

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-size: large;
  background-color: var(--color-cream);
  color: var(--color-black);
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
  white-space: pre-wrap;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
